.btn_div{
  background-color: bisque;
  border: 3px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

button{
  border: 2px solid black;
  border-radius: 5px;
}